
/* colors */
:root {
    --forest-green: #00661B;
    --deep-gold: #FFD326;
    --light-yellow: #fcf8c3;
    --orange: #D4711A;
}


/* base styles */
html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light-yellow);
    font-family: 'Nokora', sans-serif;    
    font-size: 1rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, footer {
    border-radius: 5px;
}

.uppercase {
    text-transform: uppercase;
}

.accent-font {
    font-family: 'Preahvihear', sans-serif; ;
}

.desktop-only {
    display: none;
}

/* header - mobile */
#desktop-nav-left, #desktop-nav-right {
    display: none;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logo-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

.header-logo {
    width: 85%;
    max-width: 85%;
    margin: 20px;
}

/* dropdown nav - mobile */
.navbar {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}    

.fa-caret-down {
    padding: 0 5px;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: black;
  padding: 8px 16px;
  background-color: inherit;
  font-size: .7rem;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
  border-radius: 5px 5px 0 0;
}

.dropdown .singlebtn {
    border-radius: 5px;
}

/* dropdown nav-item hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: var(--forest-green);
  color: var(--deep-gold);
  cursor: pointer;
}

/* dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--forest-green);
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* links inside the dropdown */
.dropdown-content a {
  float: none;
  color: var(--deep-gold);
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: left;
  text-transform: uppercase;
  font-size: .7rem;
}

/* dropdown links on hover */
.dropdown-content a:hover {
  text-decoration: underline;
}

/* show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* homepage - mobile */
main {
    margin-top: 40px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-text-upper, .hero-text-lower {
    line-height: 1.8rem;
}

.hero-img-upper {
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
    margin: 25px 0;
}

/* contact - mobile */
.contact {
    margin-top: 25px;
    background-color: var(--deep-gold);
    color: black;
    width: 90%;
    border-radius: 5px;
}

.contact-container {
    border: none;
    border-radius: 5px;
}

.visit-us, .follow-us, .store-title {
    font-weight: bold;
}

.contact-container {
    padding: 25px;
}

.location-bham, .location-tville {
    margin-top: 15px;
}

.location-bham p, .location-tville p {
    font-size: .75rem;
}

.location-bham a, .location-tville a {
    color: black;
    text-decoration: none;
}

iframe {
    margin-top: 20px;
    width: 100%;
}


.address {
    padding-top: 8px;
}

.phone, .fax, .email {
    padding-top: 2px;
}

.follow-us {
    text-align: center;
}

.social-media {
    display: flex;
    flex-direction: column;
    margin-top: 40px; 
}

.social-media a {
    color: black;
}

.social-media-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;  
}

.social-media-icons p {
    margin: 0 10px;
    font-size: 1.3rem;
}

/* footer - mobile */
footer {
    margin-top: 40px;
    padding: 0 20px;
    width: 100%;
    background-color: var(--forest-green);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.footer-icons a {
    color: var(--deep-gold);
    margin: 0 5px;
}

.copyright {
    text-align: center;
    margin: 10px 0 0 0;
}

.copyright > p {
    font-size: .55rem;
    font-style: italic;
    padding-bottom: 10px;
    color: var(--deep-gold)
}

/* 

tablet styles 

*/

@media screen and (min-width: 600px) {
    /* header - tablet */
    .dropdown .dropbtn, .dropdown-content a {
        font-size: .8rem;
    }

    .header-logo {
        width: 65%;
        max-width: 65%;
    }

    /* homepage - tablet */
    main {
        margin-top: 80px;
        background: url('img/img-home/background-flower-1-paler.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .hero-area-upper, .hero-area-lower {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-text-lower, .hero-text-upper {
        font-size: 1.3rem;
        width: 90%;
    }

    .hero-img-upper {
        width: 90%;
        max-width: 90%;
    }


    /* contact - tablet */
    .contact {
        margin-top: 50px;
    }

    .contact-container {
        padding: 20px;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .visit-us {
        font-size: 1.2rem;
        margin-left: 20px;
    }

    .location-bham p, .location-tville p {
        font-size: 1rem;
    }

    .stores {
        margin: 20px;
    }

    .location-bham, .location-tville {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .location-tville {
        margin-top: 30px;
    }

    iframe {
        width: 45%;
        margin-top: 0;
        justify-self: flex-end;
    }

    /* footer - tablet */
    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .copyright {
        padding: 10px;
    }

    .copyright > p {
        font-size: .6rem;
    }
}

/* 

desktop styles

*/

@media screen and (min-width: 1200px) {
    /* header - desktop */
    #mobile-nav {
        display: none;
    }

    #desktop-nav-left, #desktop-nav-right {
        display: flex;
        margin-bottom: 30px;
    }

    header {
        align-items: flex-end;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
    }

    .logo-link {
        width: 30%;
        max-width: 30%;
    }

    .header-logo {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }

    /* .dropdown .dropbtn {
        margin: 0 10px;
    } */

    .dropdown .dropbtn, .dropdown-content a {
        font-size: .9rem;
    }

    /* main - desktop */
    main {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .desktop-only {
        display: block;
    }
    
    .hero-area-upper, .hero-area-lower {
        border-radius: 10px;
        width: 90%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .hero-area-lower {
        margin-top: 50px;
    }

    .hero-text-upper, .hero-text-lower {
        line-height: 2.5rem;
        font-size: 1.5rem;
        padding: 20px;
        width: 50%;
    }

    .hero-text-upper {
        align-self: flex-start;
        margin-top: 140px;
    }
    
    .hero-text-lower {
        align-self: flex-end;
        text-align: right;
        margin-bottom: 80px;
    }

    .hero-img-upper {
        align-self: flex-end;
        width: 45%;
    }

    .hero-img-lower {
        align-self: flex-start;
        width: 45%;
    }

    /* contact - desktop */
    .contact {
        margin-top: 170px;
        justify-content: flex-start;
    }

    .stores {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .location-info {
        margin-right: 30px;
    }

    .location-bham p, .location-tville p {
        font-size: .8rem;
    }

    .location-bham, .location-tville {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    .location-tville {
        margin-top: 15px;
    }

    iframe {
        width: 50%;
    }

    .visit-us, .follow-us {
        font-size: 1.5rem;
    }

    .social-media-icons i {
        font-size: 1.5rem;
    }

    .social-media-icons {
        margin: 15px 0;
    }

    /* footer - desktop */
    footer {
        margin-top: 100px;
    }

    .copyright > p {
        font-size: .7rem;
        text-align: center;
    }
}
